<footer>
    <div class="footer-text">
        <p><i class="fa-brands fa-twitter"></i> Running Ol' Reliable v2.0.</p>
        <p>Created by lainecedes. Inspiration from <a href="https://chromewebstore.google.com/detail/old-twitter-layout-2024/jgejdcdoeeabklepnkdbglgccjpdgpmf?pli=1">dimden</a>.</p>
        <p>© 2024 lainecedes</p>
        <p>© 2015 Twitter</p>
        <a href="https://github.com/lainecedes"><i class="fa-brands fa-github"></i> Github</p></a>
        <a href="https://www.linkedin.com/in/elainewilberforce/"><p><i class="fa-brands fa-linkedin"></i> LinkedIn</p></a>
    </div>
</footer>
