<header>
    <nav>
        <h1><a href="/">Weekly Nerd</a></h1>
        <ul>
            <li><a href="/">Timeline</a></li>
            <a href="/learning-goals">Learning Goals</a>
        </ul>
    </nav>
</header>

<section class="user-profile">
    <div class="user-white-banner">
        <ul>
            <li>blogs</li>
            <li>favorites</li>
        </ul>
    </div>
</section>