<header>
    <nav>
        <h1><a href="/">Weekly Nerd</a></h1>
        <ul>
            <li>Blogs</li>
            <li>About me</li>
            <li>Learning Goals</li>
        </ul>
    </nav>
</header>

<section class="user-profile">
    <div class="user-white-banner">
        <ul>
            <li>blogs</li>
            <li>favorites</li>
        </ul>
    </div>
</section>