/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Syne:wght@400..800&display=swap');

html {
    background: lavenderblush;
    --white: #fff;
    --black: #000;
    --twitter-blue: #1da1f2;
    --twitter-yellow: rgb(241, 201, 0);
    --twitter-pink: #da076c;
    --grey: #657786;
}

h1 {
    font-family: "Syne";
    font-variation-settings: 'wdth' 1000, 'wght' 740;
    & a {
        text-decoration: none;
        color: inherit;
    }
}

body {
    font-family: "Lexend Deca";
    margin: 0 auto;
    padding: 0;
}


/* GENERAL CODE */

header {
    margin: 0 2em 0 2em;

    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }

    & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        margin: 0;
        padding: 0;
    }

    & li {
        list-style: none;
        
    }
    
    & a {
        text-decoration: none;
        color: inherit;
    }
}


.user-profile {
    position: relative;
    top: -6em;

    width: 100vw; 
    height: 35vh; 
    background-image: url('../images/kirby.jpeg');
    background-size: cover;  
    background-position: center calc(50% + 5em); /* Adjust the vertical position */

    z-index: -100;
  }
  

.user-white-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: -14em;

    width: 100vw; 
    height: 8vh;
    background-color: var(--white);

    ul {
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        margin: 0;
        padding: 0;

    }

    li {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;

        list-style: none;
        align-items: center;
        text-align: center;
        font-size: 0.7em;
        color: var(--grey);
    }

    li span {
        text-transform: uppercase;
        font-size: 2em;
        color: var(--twitter-pink);
    }

  }





.index .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -3.5em;
    align-items: flex-start; /* Align items at the start of the container */
}

.index .sidebar {
    width: 17%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.index .left-sidebar {
    margin-right: 20px;
    margin-top: -10em; /* Adjust this value to position the left sidebar higher */
}

.index .right-sidebar {
    margin-left: 20px;
}

.index .main-content {
    flex: 1;
    padding: 0 20px 20px 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.index .profile img {
    background-color: pink;
    border-radius: 1em;
    width: 100%;
}

.index .profile h2 {
    margin: 10px 0 0;
    font-size: 1.5em;
}

.index .profile p {
    color: var(--grey);
}

.index .profile p:nth-of-type(1) {
     margin: 0;
}

.index .profile ul {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    font-size: 0.9em;
    gap: 0.5em;


    li {
        display: flex;
        gap: 0.5em;
        list-style: none;
        
    }

    li:nth-of-type(2) a {
        margin-left: -4px;
        text-decoration: none;
        color: var(--twitter-pink);
    }
}




/* TWEETS */


.index .tweet-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;

    > img {
        width: 3.5em;
        border-radius: 0.5em;
        box-shadow: 1px 1px 2px var(--grey);
    }

    .tweet {
        list-style: none;
        border-bottom: 1px solid #e1e8ed;
        width: 100%;
    }

}

.index .tweets-container .tweet:last-child {
    border-bottom: none;
}


.index .tweet-content {
    flex: 1;
}

.index .tweet-header {
    display: flex;
    align-items: center;
    gap: 0.7em;
    padding: 0 0 1em 0;

    h3 {
        margin: 0;
        font-size: 1em;
        font-weight: bold;
    }

    .tweet-date {
        color: var(--grey);
        font-size: 0.8em;
    }

    a {
        text-decoration: none;
        color: var(--twitter-pink);
    }

    img {
        width: 4em;
        border-radius: 0.5em;
        box-shadow: 1px 1px 2px var(--grey);
    }
}

.index .tweet-username {
    font-size: 0.7em;
}

.index .tweet-text {
    margin: 0;
}

.index .tweet-details {
    margin-top: 10px;

}




.index {

    .suggestions h3 {
        margin: 0 0 10px;
    }

    .suggestions ul {
        list-style: none;
        padding: 0;
    }

    .suggestions ul li {
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    .suggestions ul li a {
        text-decoration: none;
        color: var(--twitter-pink);
        background-color: white;
    }

}


/* TWEET ACTIONS */

.tweet-actions {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0.7em 0 0.7em 0;
    color: var(--grey);
}

.tweet-actions .favorite-button {
    cursor: pointer;
}

.tweet-actions .favorite-button.active {
    color: var(--twitter-yellow);
}


.footer-text {
    font-size: 0.7em;
    

    p {
        margin: 0;
        padding: 0 0 0.5em 0;
    }
}


@media (max-width: 755px) {
    .index .container {
        align-items: center;
        flex-direction: column;
        margin-top: 5em;
        gap: 2em;
}

    .index .sidebar {
        display: flex;
        width: 75%;
}
.index .suggestions ul li {
    font-size: 1em;
}

}



/* ------------------------------ */
/* HLJS - CODE ADDITIONAL STYLING */
/* ------------------------------ */

pre code {
    border-radius: 0.5em;
}


/* ------ */
/* FOOTER */
/* ------ */

.footer-text {
    color: var(--grey);
}